@page
@model ForgotPasswordModel

<div class="wrapper">
    <form method="post" class="forgot-password">
        <h5>Enter your email</h5>
        <div class="form-group">
            <div class="login_input">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="login_button">Send</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
