@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation";
}


<div class="wrapper">

    <form class="password-confirmation">
        <h5>@ViewData["Title"]</h5>
        <div id="password-confirmation" class="form-group">
            <p>
                An email has been sent.
                Please check your email to reset your password.
            </p>
        </div>
        <button type="submit" class="login_button">Go Back</button>
    </form>
</div>


   

