@page
@model LoginModel


<div class="wrapper">
    <form id="account" method="post" class="login">
        <h5>Sign in</h5>
        <div class="form-group">
            <div class="login_input">
                <input asp-for="Input.Name" class="form-control fc-login" placeholder="Name" autofocus />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="login_input">
                <input asp-for="Input.Password" class="form-control fc-login" placeholder="Password" autofocus />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div id="remember_check" class="login_input">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid">
                <div  class="row justify-content-center">
                    <div class="col">
                        <p>
                            <a id="forgot-password" class="login_link" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <a asp-page="./Register" class="login_link" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="login_button">Log in</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
