@page
@model RegisterModel

<div class="wrapper">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="register">
        <h5>Sign up</h5>
        <div  class="form-group">
            <div class="login_input">
                <input asp-for="Input.Name" class="form-control" placeholder="Name" autofocus />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="login_input">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" autofocus />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="login_input">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" autofocus />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="login_button">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
