/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* nav-bar
-------------------------------------------------- */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.home-search {
    width: 200px;
    padding-top: 20px;
}

    .home-search button {
        height: 25%;
        padding-bottom: 4px;
        margin-left: 5%;
        color: #000;
        border-color: RGBA(120,198,163,0.59);
    }

    .home-search .btn:hover {
        color: #fff;
        background-color: darkorange;
    }

    .home-search input {
        height: 20%;
    }

.navbar {
    background-color: #78c6a3;
}

.nav-link i {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: -5px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgba(135, 212, 171, 0.33);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Header
-------------------------------------------------- */
.header {
    width: 50%;
    height: 400px;
}

.header-title {
    font-family: Britannic;
    font-size: 3em;
    font-weight: 600;
    line-height: 40px;
}

.decriptive-header {
    font-size: 1.5em;
}

.header-img {
    width: 100%;
}

/* Body
-------------------------------------------------- */
.container .overview {
    display: block;
    background-color: #fff;
    padding: 5%;
}

.overview-btn {
    background-color: #78c6a3;
}

.overview-title {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 40px;
    margin-top: 5%;
}

.random-recipe {
    font-size: 1em;
    font-family: Britannic;
}

.random-btn {
    background-color: RGBA(120,198,163,0.59);
}

.carousel-caption {
    background-color: RGBA(120,198,163,0.75);
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

.recipe-row {
    margin-bottom: 3%;
    position: relative;
    text-align: center;
    color: white;
}

.recipe-img {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: RGBA(120,198,163,0.75);
}

.recipe-row a {
    text-decoration: none;
    color: #fff;
}

    .recipe-row a:hover {
        color: #fff;
    }

    .recipe-row a:visited {
        color: #fff;
    }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: RGBA(120,198,163,0.75);
}

.recipe-row .picBox {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: RGBA(120,198,163,0.75);
    font-size: 20px;
}

.btn-cook {
    background-color: RGBA(120,198,163,0.59);
    width: 20%;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.cooking-div:target {
    display: none;
}
.step-list:target {
    display: none;
}
.detail-img{
    width: 250px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%,  0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}

.centered-carousel {
    height: 500px;
    background-color: RGBA(120,198,163,0.59);
    text-align: center;
    padding-top: 20%;
}
.carousel-control-prev .carousel-control-next {
    width: 100%;
}
ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    
}

    ol.carousel-indicators li,
    ol.carousel-indicators li.active {
        float: left;
        width: 33%;
        height: 10px;
        margin: 0;
        border-radius: 0;
        border: 0;
        background: RGBA(120,198,163,0.40);
        border-left: 1px solid;
        border-color: #78c6a3;
        
    }

        ol.carousel-indicators li.active {
            background: RGBA(120,198,163,0.75);
        }

.carousel-control-next-icon .carousel-control-prev-icon {
    background-color: #78c6a3;
}