/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*------------------------------------------------------------------------------------- NAVBAR ---------------------------------------------------------------------------------------*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar {
    background-color: #78c6a3;
}

.nav-link i {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: -5px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*------------------------------------------------------------------------------------- STICKY FOOTER ---------------------------------------------------------------------------------------*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgba(135, 212, 171, 0.33);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*------------------------------------------------------------------------------------- HEADER ---------------------------------------------------------------------------------------*/
.header {
    width: 50%;
    height: 400px;
}

.header-title {
    /*font-family: Britannic;*/
    font-size: 3em;
    font-weight: 600;
    line-height: 40px;
}

.decriptive-header {
    font-size: 1.5em;
}

.header-img {
    width: 100%;
}

/*------------------------------------------------------------------------------------- BODY ---------------------------------------------------------------------------------------*/
.container .overview {
    display: block;
    background-color: #fff;
    padding: 5%;
    height: auto;
}

.overview-btn {
    background-color: #78c6a3;
}

.overview-title {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 40px;
}


.random-recipe {
    font-size: 1em;
}

.random-btn {
    background-color: RGBA(120,198,163,0.59);
}

.recipe-row {
    margin-bottom: 3%;
    position: relative;
    text-align: center;
}

.recipe-img {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-color: RGBA(120,198,163,0.75);
}

.recipe-row a {
    text-decoration: none;
    color: #fff;
}

.recipe-row a:hover {
    color: #fff;
}

.recipe-row a:visited {
    color: #fff;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: RGBA(120,198,163,0.75);
}

.recipe-row .picBox {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: RGBA(120,198,163,0.75);
    font-size: 20px;
}

.btn-cook {
    background-color: RGBA(120,198,163,0.59);
    width: 20%;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.detail-img {
}

/*------------------------------------------------------------------------------------- HOME CAROUSEL ---------------------------------------------------------------------------------------*/
.carousel-caption {
    background-color: RGBA(120,198,163,0.75);
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}

.centered-carousel {
    height: 500px;
    background-color: RGBA(120,198,163,0.59);
    text-align: center;
    padding-top: 20%;
}
.carousel-control-prev .carousel-control-next {
    width: 100%;
}
ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: RGBA(120,198,163,0.40);
    border-left: 1px solid;
    border-color: #78c6a3;
        
}

ol.carousel-indicators li.active {
    background: RGBA(120,198,163,0.75);
}

.carousel-control-next-icon .carousel-control-prev-icon {
    background-color: #78c6a3;
}

/*------------------------------------------------------------------------------------- STEP OVERVIEW ---------------------------------------------------------------------------------------*/
@keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}



.overview-steps #scene {
    display: block;
    align-items: center;
    width: inherit;
    height: fit-content;
    position: relative;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

body #scene #left-zone {
    background: #fff;
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: left;
}

body #scene #left-zone .list {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

body #scene #left-zone .list li.item input[type="radio"] {
     display: none;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label {
     display: block;
     opacity: 0.5;
     height: 50px;
     font-size: 2em;
     margin-left: 10%;
     line-height: 50px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
     text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
     opacity: 0.75;
     cursor: pointer;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label.label:before {
     content: " ";
     display: block;
     position: absolute;
     width: 50px;
     height: 50px;
     margin-left: 15px;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content {
     position: absolute;
     left: 10%;
     bottom: 20%;
     top: 82%;
     width: 100%;
     height: 100%;
     animation-duration: 0.75s;
     animation-name: slideout;
     animation-timing-function: ease-out;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content.content h1 {
    color: RGBA(120,198,163,0.75);
    text-align: center;
}

                        

body #scene #left-zone .list li.item input[type="radio"] ~ .content h1:first-letter {
    text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content p {
    max-width: 50%;
    text-align: center;
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
    opacity: 1;
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label {
    color: RGBA(120,198,163,0.75);
    border-right: solid 4px #78c6a3;               
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
    animation-duration: 0.75s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-align: center;
}

body #scene #middle-border {
    background-color: #eee;
    height: 75%;
    flex-grow: 1;
    max-width: 2px;
    z-index: 0;
}

body #scene #right-zone {
    background: #fff;
    height: 100%;
    width: 100%;
    flex-grow: 3;
}

.overview-steps {
    display: block;
    background-color: #fff;
    padding: 5%;
    height: auto;
}

.overview-steps h2 {
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.24);
    margin-bottom: 5%;
}
.ingredients p{
    line-height: 15px;
}
.ingredients img {
    width: 550px;

}

.ingredients-list{
}

.recipe-overview-text {
    color: #000;
    text-align: left;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

/*------------------------------------------------------------------------------------- OVERVIEW FILTER ---------------------------------------------------------------------------------------*/
.list-container {
    overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn-filter {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 1%;
}

    /* Add a light grey background on mouse-over */
    .btn-filter:hover {
        background-color: #ddd;
    }

    /* Add a dark background to the active button */
    .btn-filter.active {
        background-color: #666;
        color: white;
    }

/*------------------------------------------------------------------------------------- SEARCHBAR CSS ---------------------------------------------------------------------------------------*/
/*.home-search {
    width: 200px;
    padding-top: 20px;
}

.home-search button {
    height: 25%;
    padding-bottom: 4px;
    margin-left: 5%;
    color: #000;
    border-color: RGBA(120,198,163,0.59);
}

.home-search .btn:hover {
    color: #fff;
    background-color: darkorange;
}

.home-search input {
    height: 20%;
}*/