@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="float-left header">
        <div class="header-title">
            <p>Tired of not being able to cook properly?</p>
            <p>Try out our new Chef-By-Step!</p>
        </div>
        <p class="decriptive-header">Try out any recipe from our library that contains +200 recipes.</p>
    </div>
    <div class="float-right header">
        <img src="https://static.ah.nl/static/recepten/img_RAM_PRD143856_1600x_JPG.jpg" class=" header-img" width="450"/>
    </div>
</div>