@model RecipeDeleteViewModel
<div class="overview center-delete">
        <form asp-controller="Recipe" asp-action="Delete" method="post">
            <img src="@Model.ImageUrl" width="500px"/>
            <p>Are you sure you want to delete @Model.Title?</p>
            
            <input type="hidden" asp-for="@Model.Id" />
            <div class="center-delete">
                <button type="submit" class="btn btn-create">Delete</button>

                <a class="btn btn-create-cancel" asp-controller="Recipe" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>