@model RecipeDeleteViewModel

<form asp-controller="Recipe" asp-action="Delete" method="post">
    <p>Are you sure you want to delete @Model.Title?</p>

    <input type="hidden" asp-for="@Model.Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
    |
    <a asp-controller="Recipe" asp-action="Index">Return to recipes</a>
</form>