@model RecipeViewModel

<div class="overview">
    <h2>All recipes</h2>
    <div class="row recipe-row">
        @foreach (var recipe in Model.Recipes)
        {
        <div class="card overview-tile" style="width: 18rem;">
            <a asp-area="" asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.Id">
                <img class="card-img-top recipe-img" src="@recipe.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="recipe-overview-text">@recipe.Title</h5>
                </div>
            </a>
        </div>

        }
    </div>
</div>

