@using Microsoft.AspNetCore.Components.Forms
@model RecipeViewModel



<div class="overview">
    <h2>All recipes</h2>
    <div id="list1" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Filter</span>
        <ul class="items">
            @foreach (var categoryName in Enum.GetNames(typeof(Category)))
            {
                <li>
                    <input type="checkbox" name="checkboxtest" id="@categoryName" onclick="toggleCategories()"/>@categoryName
                </li>
            }
        </ul>
    </div>

    

    
    <div id="breakfast"class="row recipe-row">
        <h2>All Recipes</h2>
   
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card overview-tile" style="width: 18rem;">
                    <a asp-area="" asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.Id">
                        <img class="card-img-top recipe-img" src="@recipe.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="recipe-overview-text">@recipe.Title</h5>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>