@model RecipeDetailViewModel
@{
    string changeString = "Change me";
    int i = 0;
    string instruction = Model.Steps.First().Instruction;

    string ChangeString()
    {
        changeString = Model.Steps[i + 1].Instruction;
        return changeString;
    }
}


<div>
    <button name="Previous" onclick="@ChangeString()">DOSTUFF</button>
    <p> @instruction </p>
    <p> @changeString </p>

    <button></button>
</div>