@model UserViewModel

<ul>
    @foreach (var item in Model.User.FavoriteRecipes)
    {
        <li>@item.Title</li>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
    }
</ul>